<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Dot{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="dot" />

    <!-- ** CSS Plugins Needed for the Project ** -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/plugins/bootstrap/bootstrap.min.css">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="/static/plugins/themify-icons/themify-icons.css">
    <!--Favicon-->
    <link rel="stylesheet" href="/static/images/favicon.png" type="image/x-icon">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <!-- Main Stylesheet -->
    <link href="/static/assets/style.css" rel="stylesheet" media="screen" />
    {% block extra_css %}{% endblock %}
</head>

<body>
    <!-- header -->
    {% block header %}
    <header class="banner overlay bg-cover" data-background="/theme/images/banner.jpg">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container">
                <a class="navbar-brand px-2" href="/">Dot</a>
                <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-center" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="data.html">Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="statistic.html">Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="signin.html">Sign in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- banner -->
        {% block banner %}{% endblock %}
        <!-- /banner -->
    </header>
    {% endblock %}
    <!-- /header -->

    {% block content %}
    {% endblock %}

    <!-- footer -->
    <footer class="section pb-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 text-md-left text-center">
                    <p class="mb-md-0 mb-4">Copyright © 2020 Designed and Developed by <a
                            href="https://themefisher.com/">themefisher</a></p>
                </div>
                <div class="col-md-4 text-md-right text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="#"><i
                                    class="ti-facebook"></i></a></li>
                        <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="#"><i
                                    class="ti-twitter-alt"></i></a></li>
                        <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="#"><i
                                    class="ti-github"></i></a>
                        </li>
                        <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="#"><i
                                    class="ti-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <!-- ** JS Plugins Needed for the Project ** -->
    <!-- jquiry -->
    <script src="/static/plugins/jquery/jquery-1.12.4.js"></script>
    <!-- Bootstrap JS -->
    <script src="/static/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- match-height JS -->
    <script src="/static/plugins/match-height/jquery.matchHeight-min.js"></script>
    <!-- Main Script -->
    <script src="/static/assets/script.js"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>