<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <title>Dot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** CSS Plugins Needed for the Project ** -->

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/theme/plugins/bootstrap/bootstrap.min.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/theme/plugins/themify-icons/themify-icons.css">
  <!--Favicon-->
  <link rel="icon" href="/theme/images/favicon.png" type="image/x-icon">
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <!-- Main Stylesheet -->
  <link href="/theme/assets/style.css" rel="stylesheet" media="screen" />
</head>

<body>
  <!-- header -->
  <header class="shadow-bottom sticky-top bg-white">
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <a class="navbar-brand px-2" href="/theme/index.html">Dot</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

				<div class="collapse navbar-collapse text-center" id="navigation">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link text-dark" href="/theme/index.html">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="/theme/data.html">Data</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="/theme/statistic.html">Statistics</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="/theme/signin.html">Sign in</a>
						</li>
					</ul>
				</div>
      </div>
    </nav>
  </header>
  <!-- /header -->

  <!-- data -->
  <section class="section pb-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title text-primary">Results</h2>
            <div class="row mt-5"> <!-- mt-5: 위쪽 여백을 줍니다 -->
              
              <!-- 카드 1개 단위 -->
              <div class="col-12 col-md-4 mb-4"> 
                <div class="card h-100 shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title">삼성전자</h5>
                    <p class="card-text">시총? 내용 내용 내용</p>
                    <a href="/theme/data.html" class="btn btn-primary">이동하기</a>
                  </div>
                </div>
              </div>

              <!-- 카드 2개 단위 -->
              <div class="col-12 col-md-4 mb-4"> 
                <div class="card h-100 shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title">삼성버스</h5>
                    <p class="card-text">이친구는 버튼 클릭 이동</p>
                    <a href="/theme/data.html" class="btn btn-primary">이동하기</a>
                  </div>
                </div>
              </div>

              <!-- 카드 3개 -->
              <div class="col-12 col-md-4 mb-4"> 
                <div class="card h-100 shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title">삼성중공업</h5>
                    <p class="card-text">이친구는 버튼 클릭 이동</p>
                    <a href="/theme/data.html" class="btn btn-primary">이동하기</a>
                  </div>
                </div>
              </div>

              
              <!-- 4번째 카드가 추가되면 자동으로 아랫줄로 내려갑니다 -->
              <div class="col-12 col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title">삼성제약</h5>
                    <p class="card-text">티커 : 01102</p>
                  </div>
                </div>
              </div>

              <!-- 55-->
              <div class="col-12 col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title"><a href="/theme/data.html">삼성제약</a></h5>
                    <p class="card-text">티커 : 01102 얘는 제목 클릭하면 이동</p>
                  </div>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /data -->

  <!-- footer -->
  <footer class="section pb-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8 text-md-left text-center">
          <p class="mb-md-0 mb-4">Copyright © 2020 Designed and Developed by <a
              href="https://themefisher.com/">themefisher</a></p>
        </div>
        <div class="col-md-4 text-md-right text-center">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="#"><i
                  class="ti-facebook"></i></a></li>
            <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="#"><i
                  class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="#"><i class="ti-github"></i></a>
            </li>
            <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="#"><i
                  class="ti-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- ** JS Plugins Needed for the Project ** -->
  <!-- jquiry -->
  <script src="plugins/jquery/jquery-1.12.4.js"></script>
  <!-- Bootstrap JS -->
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <!-- match-height JS -->
  <script src="plugins/match-height/jquery.matchHeight-min.js"></script>
  <!-- Main Script -->
  <script src="assets/script.js"></script>
</body>

</html>

</html>