{% extends "base.html" %}

{% block content %}
<!-- data -->
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title text-primary">Results</h2>
        <div class="row mt-5"> <!-- mt-5: 위쪽 여백을 줍니다 -->

          <!-- 카드 1개 단위 -->
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <h5 class="card-title">삼성전자</h5>
                <p class="card-text">시총? 내용 내용 내용</p>
                <a href="data.html" class="btn btn-primary">이동하기</a>
              </div>
            </div>
          </div>

          <!-- 카드 2개 단위 -->
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <h5 class="card-title">삼성버스</h5>
                <p class="card-text">이친구는 버튼 클릭 이동</p>
                <a href="data.html" class="btn btn-primary">이동하기</a>
              </div>
            </div>
          </div>

          <!-- 카드 3개 -->
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <h5 class="card-title">삼성중공업</h5>
                <p class="card-text">이친구는 버튼 클릭 이동</p>
                <a href="data.html" class="btn btn-primary">이동하기</a>
              </div>
            </div>
          </div>


          <!-- 4번째 카드가 추가되면 자동으로 아랫줄로 내려갑니다 -->
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <h5 class="card-title">삼성제약</h5>
                <p class="card-text">티커 : 01102</p>
              </div>
            </div>
          </div>

          <!-- 55-->
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <h5 class="card-title"><a href="data.html">삼성제약</a></h5>
                <p class="card-text">티커 : 01102 얘는 제목 클릭하면 이동</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /data -->
{% endblock %}