{% extends "base.html" %}

{% block banner %}
<div class="container section">
	<div class="row">
		<div class="col-lg-8 text-center mx-auto">
			<h1 class="text-white mb-3">Smart insight &amp; One search</h1>
			<p class="text-white mb-4">See what analysts are saying, all in one place</p>
			<div class="position-relative">
				<input id="search" class="form-control" placeholder="Have a question? Just ask here or enter terms"><i
					class="ti-search search-icon"></i>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block content %}
<!-- topics -->
<section class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 text-center">
				<h2 class="section-title">Find the analyst's pick!</h2>
			</div>
			<!-- topic-item -->
			<div class="col-lg-4 col-sm-6 mb-4">
				<a href="card.html" class="px-4 py-5 bg-white shadow text-center d-block match-height">
					<i class="ti-panel icon text-primary d-block mb-4"></i>
					<h3 class="mb-3 mt-0">Card</h3>
					<p class="mb-0">Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4">
				<a href="statistic.html" class="px-4 py-5 bg-white shadow text-center d-block match-height">
					<i class="ti-credit-card icon text-primary d-block mb-4"></i>
					<h3 class="mb-3 mt-0">Top Rank Inc</h3>
					<p class="mb-0">Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4">
				<a href="signin.html" class="px-4 py-5 bg-white shadow text-center d-block match-height">
					<i class="ti-package icon text-primary d-block mb-4"></i>
					<h3 class="mb-3 mt-0">Empty</h3>
					<p class="mb-0">Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- /topics -->

<!-- call to action -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section px-3 bg-white shadow text-center">
					<h2 class="mb-4">Didn&rsquo;t find an answer to your question?</h2>
					<p class="mb-4">Musce libero nunc, dignissim quis turpis quis, semper vehicula dolor. Suspendisse
						tincidunt
						consequat quam.</p>
					<a href="/" class="btn btn-primary">contact us</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /call to action -->
{% endblock %}