{% extends "base.html" %}

{% block content %}
<!-- statistic -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title text-primary">Top 30 Expected Returns</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Stock Name</th>
              <th scope="col">Ticker</th>
              <th scope="col">Current Price</th>
              <th scope="col">Avg Fair Price</th>
              <th scope="col">Avg Expected Return</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in stocks %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>
                <a href="/data.html?q={{ stock.stock_name }}">{{ stock.stock_name }}</a>
              </td>
              <td>{{ stock.stock_code }}</td>
              <td>{{ "{:,}".format(stock.current_price) if stock.current_price else '-' }}</td>
              <td>{{ "{:,}".format(stock.avg_fair_price|int) if stock.avg_fair_price else '-' }}</td>
              <td class="{{ 'text-danger' if stock.avg_expected_return > 0 else 'text-primary' }}">
                {{ "{:.2f}%".format(stock.avg_expected_return) if stock.avg_expected_return else '-' }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- /statistic -->
{% endblock %}